.container_card {
    background-color: whitesmoke;
    width: 80%;
    margin: 7rem auto;
    min-height: 50rem;
}

.inner_container_card {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
}

.image_card {
    padding-left: 1rem;
    width: 50%;
    margin: auto
}